$gold: #ffb310;

body.menu-colors #content-area {
  font-family: Arial,Helvetica,sans-serif;
  padding: 17px 30px 0 30px;
}
body.menu-colors, body.menu-colors #content-area {
  h1, .node-type-fixed-width-landing-page h2.title {
   color: $gold;
   font-size: 36px !important;
   font-weight: bold;
   line-height: 36px;
   margin-bottom: 20px;
   height: 100%;
  }
  h2 {
    color: #333;
  }
  h2, .node-type-fixed-width-secondary-page h2.title {
    font-size: 26px !important;
  }
  .node-type-fixed-width-secondary-page h2.title {
    color: $gold;
    font-size: 36px !important;
  }
  h2, h3 {
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: none;
  }
  h3, h4 {
    border-bottom: none;
  }
  h3 {
    color: $gold;
    font-size: 26px;
    text-transform: none;
    letter-spacing: 0px;
    margin-top: 0px;

  }
  h4 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 10px;
  }
  a {
  color: #903;
    &:hover {
      color: black;
    }
  }
}



body.node-type-fixed-width-landing-page #content-area {
  margin-left: 0px;
}

body.menu-colors-hide-sidebar-left #content-area {
  margin-left: 0px;
}

.menu-colors .node-type-fixed-width-secondary-page #sidebar-left,
.menu-colors .node-type-fluid-width-secondary-page #sidebar-left {
  padding-top: 0px;
}

body.node-type-fixed-width-landing-page .node-inner {
  margin-right: 0px;
}

.menu-colors-hide-sidebar-left .node-inner {
  margin-right: 0px;
}


/* OTHER TEXT STYLES */

.text-style-1, .text-style-2 {
  color: #666;
  a {
    border-bottom: 1px dotted #990033;
    color: #990033;
    text-decoration: none;
    &:hover {
      border-bottom: 0px;
      color: #000;
    }
  }
}

.text-style-1 {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  }

.text-style-2 {
  line-height: 18px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
}

ul.text-style-2 li {
  color: #990033;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 18px;
  a {
    border-bottom: dashed 1px #990033;
    color: #990033;
  }
}



/******************************************************************************
 * LEFT SIDEBAR
 ******************************************************************************
*/

body.menu-colors #sidebar-left {
  margin-left: 20px;
  margin-top: 14px;
  width: 208px;
}

/* Left Nav Block */
#block-views-632c02ef065305bc3a4fbc81affb43d9 {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
  width: 165px;
  h2.title {
    border-bottom: none;
    font-size: 24px !important;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: -20px;
    margin-left: 10px;
    padding-top: 8px;
  }
  li {
    list-style: none;
    line-height: 20px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 20px;
    margin: 0;
    a {
      text-decoration: none;
      border-bottom: none;
    }
  }
  ul.menu {
    padding: 0 0 30px 1em;
    li, li.first, li.last {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      margin:0px;
      padding: 0px;
      padding-top: 6px;
    }
    li.first {
      padding-top: 23px;
    }
    ul.menu {
      padding: 0px;
      li, li.first, li.last {
        font-size: 12px;
	font-weight: normal;
	padding-top: 6px;
      }
    }
  }
  ul ul ul li {
   line-height: 20px;
  }
}

/* NAVBAR/MAIN MENU */
#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 {
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  ul.menu {
    display: inline;
  }
  li.expanded ul.menu, li.collapsed ul.menu {
  display: none;
  }
}

.menu-colors #sidebar-left a:hover {
  text-decoration: none;
}


#block-views-sidebar_menu-block_1 ul ul ul ul {
  margin-left: 10px;
}

.two-sidebars #content-inner {
  padding-left: 250px; /* The width + left margin of #sidebar-left. */
  padding-right: 215px; /* The width + right margin of #sidebar-right. */
}


body.fixed-second #sidebar-left-inner, body.node-type-fluid-width-secondary-page #sidebar-left-inner {
  margin: 0;
}

body.fixed-second #sidebar-left-inner, .node-type-fluid-width-secondary-page #sidebar-left-inner {
  margin: 0px;
}

body.node-type-fixed-secondary-page #sidebar-left, body.node-type-fluid-width-secondary-page #sidebar-left {
  background-color: white;
  width: 200px;
}

body.node-type-fixed-secondary-page #content-inner, body.node-type-fluid-width-secondary-page #content-inner {
  padding-left: 200px;
}


body.node-type-fixed-secondary-page #block-views-sidebar_html_1-block_1, body.node-type-fluid-width-secondary-page #block-views-sidebar_html_1-block_1 {
  margin-bottom: 0;
}

hr {
  width: 100%;
}

.node-type-fixed-width-secondary-page #sidebar-left-inner, .node-type-fluid-width-secondary-page #sidebar-left-inner {
  margin: 0px !important;
}

body.node-type-fixed-width-secondary-page #block-views-sidebar_html_1-block_1, body.node-type-fluid-width-secondary-page #block-views-sidebar_html_1-block_1 {
  margin-bottom: 0px;
}

body.node-type-fixed-width-secondary-page #sidebar-left, body.node-type-fluid-width-secondary-page #sidebar-left {
  padding-top: 0px;
}

/* Sidebar right: use sidebar-left */
body.menu-colors-sidebar-right {
  #sidebar-left {
    float: right;
    margin: 16px 18px 0 -300px;
    width: 270px;
  }
  #content-inner {
   padding-right: 276px;
   padding-left: 0;
  }
  #content-area {
    padding: 17px 54px 0 30px;
  }
}

.menu-colors #sidebar-right {
  margin-top: 14px;
  padding-right: 30px;
  padding-left: 30px;
  width: 257px;
}

.menu-colors.two-sidebars #content-inner,
.menu-colors.sidebar-left #content-inner {
  padding-left: 197px;
}

.menu-colors.two-sidebars.node-type-fixed-width-secondary-page #content-inner {
  padding-left: 197px;
}

.menu-colors.sidebar-right #content-inner {
  padding-right: 267px;
}

.menu-colors.sidebar-right #content-inner {
  padding-left: 0px;
}
.menu-colors.no-sidebars.node-type-fixed-width-secondary-page #content-inner,
.menu-colors.no-sidebars.node-type-fluid-width-secondary-page #content-inner {
  padding-left: 0px;
}


