
/*
.not-front #content-area {
  padding-left: 16px;
}
.not-front #content {
  padding-top: 16px;
}
*/
#content {
  background: white;
}

.not-front h1 {
  line-height: 36px;
}

.not-front .node {
  margin-bottom: 0px;
}


#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul, #block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul li{
  /* IE 7 Hack */
  zoom: 1;
  *display: inline;
}
#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul.menu
{
  /8
  padding-bottom: 5px;
  padding-top: 5px;
  */
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  /* cancels gap caused by top padding in Opera 7.54 */
  margin-left: 0;
  background-color: black;
  color: white;
  width: 100%;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  /* fixes Firefox 0.9.3 */
}


a {
  color: white;
}

#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul.menu li
{
  display: inline;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  /* matches link padding except for left and right */
  padding-top: 5px;
}

#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul.menu li  a
{
  padding-bottom: 10px;
  padding-top: 9px;
  color: white;
  text-decoration: none;
}

#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul.menu li a:hover,
#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul.menu li a.active,
#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul.menu li.active-trail a
{
  color: #ffb310;
  border-bottom: 5px solid #ffb310;
  padding-bottom: 5px;
}


#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 li.expanded ul.menu,
#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 li.collapsed ul.menu {
  display: none;
}  


/* RESET */

#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 h2 {
  display: none;
}


#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 ul {
  margin: 0;
  padding: 0;
}

#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 .item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-views-5d9ea445b3cc9f3542a5ad6d2dfa5e29 .item-list {
  background-color: black;
}
