#block-views-sidebar_menu-block_1, #block-views-632c02ef065305bc3a4fbc81affb43d9 {
   background-color: #4f5557;
   border-right: 5px solid #FFB310;
}

#block-views-632c02ef065305bc3a4fbc81affb43d9 h2 {
  display: none;
}

#block-views-sidebar_menu-block_1 .sidebar_menu_title {
  color: #FFF;
}

#block-views-sidebar_menu-block_1 a, #block-views-632c02ef065305bc3a4fbc81affb43d9 a {
  color: #FFF;
}

#block-views-sidebar_menu-block_1 a:hover, #block-views-632c02ef065305bc3a4fbc81affb43d9 a:hover {
  color: #FFB310;
}

#block-views-sidebar_menu-block_1 a.active, #block-views-632c02ef065305bc3a4fbc81affb43d9 a.active {
  color: #ffb310;
  font-weight: bold;
}


#block-views-sidebar_menu-block_1 ul ul ul li a, #block-views-632c02ef065305bc3a4fbc81affb43d9 ul ul li a, 
#block-views-sidebar_menu-block_1 ul ul li a.active, #block-views-632c02ef065305bc3a4fbc81affb43d9 ul li a.active,
#block-views-sidebar_menu-block_1 .active-trail, #block-views-632c02ef065305bc3a4fbc81affb43d9 .active-trail {
  color: #ffb310;
}

