#block-views-sidebar_menu-block_1, #block-views-632c02ef065305bc3a4fbc81affb43d9 {
  background-color: white; }
  #block-views-sidebar_menu-block_1 h2.title, #block-views-632c02ef065305bc3a4fbc81affb43d9 h2.title {
    color: #333333; }
  #block-views-sidebar_menu-block_1 a, #block-views-632c02ef065305bc3a4fbc81affb43d9 a {
    color: #898989; }
    #block-views-sidebar_menu-block_1 a:hover, #block-views-632c02ef065305bc3a4fbc81affb43d9 a:hover {
      color: #333333; }
  #block-views-sidebar_menu-block_1 a.active, #block-views-632c02ef065305bc3a4fbc81affb43d9 a.active {
    color: #333333;
    font-weight: bold; }
