$bg: #ffb310;
$accent: #666;
$accent2: #999;

#block-views-sidebar_menu-block_1, #block-views-632c02ef065305bc3a4fbc81affb43d9 {
   background-color: $bg;
   border-right: 5px solid $accent2;
   h2.title {
     color: $accent;
   }
   a {
    color: #FFF;
    &:hover { color: $accent; }
   }
   a.active {
       color: $accent;
     }
}
